<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Libros</title>
    <link rel="stylesheet" href="/css/librosList.css">
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a href="/" class="logo nav-link">Biblioteca</a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <img src="img/menu.png" alt="menu">
            </button>
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a href="/" class="nav-menu-link nav-link">INICIO</a>
                </li>
                <li class="nav-menu-item">
                    <a href="/alumnos" class="nav-menu-link nav-link">Alumno</a>
                </li>
                <li class="nav-menu-item">
                    <a href="/libros" class="nav-menu-link nav-link">Libro</a>
                </li>
                <li class="nav-menu-item">
                    <a href="/alumnos-libros" class="nav-menu-link nav-link">LISTADO</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="general">
        <div class="container">
            <h1>Lista de Libros</h1>
            <div class="button-container">
                <a href="/libros/create"><button>Crear Nuevo Libro</button></a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% libros.forEach(function(libro) { %>
                        <tr>
                            <td>
                                <%= libro.titulo %>
                            </td>
                            <td>
                                <%= libro.autor %>
                            </td>
                            <td class="actions">
                                <a href="/libros/edit/<%= libro.id %>"><button>Editar</button></a>
                                <form action="/libros/delete/<%= libro.id %>" method="POST" style="display:inline;">
                                    <button type="submit">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>


    <section id="info">
        <div class="contactos-redes">
            <div class="contactos">
                <div class="contacto-info">
                    <h3>Contactos</h3>
                    <p>
                        <b>Mail:</b> libroAyuda@biblioteca-virtual.com
                        <br><b>Dirección:</b> Cerrito 899, CABA
                        <br><b>Telefono:</b> 15-6248-5476
                    </p>
                </div>
            </div>
            <div class="redes-sociales">
                <h3>Redes sociales</h3>
                <div class="redesImg">
                    <img src="./img/redes/instagram.ico" class="imagen" alt="Instagram">
                    <img src="./img/redes/facebook.ico" class="imagen" alt="Facebook">
                    <img src="./img/redes/twitter-icone-1.ico" class="imagen" alt="Twitter">
                </div>
            </div>
        </div>
        <div class="mapa">
            <h3>Ubicación</h3>
            <div id="map-container"></div>
        </div>
    </section>

    <footer>
        <p>© 2024 Copyright Biblioteca</p>
    </footer>

    <script src="./js/api.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>